<div class="container">
  <div class="row">
    <div class="col s8 push-s2">
      <div class="card white">
        <h4 class="center-align">INSCRIVEZ-VOUS</h4>
        <div class="card-content">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="input-field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="input-field">
            <%= f.label :"mot de passe" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="input-field">
            <%= f.label :"Confirmer le mot de passe" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="actions">
            <%= f.submit "S'inscrire", :class => 'waves-effect waves-light btn blue' %>
          </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>  
</div>