

  <div class="container-fluid">
    
      <div class="row">
        <% @locations.each do |location| %>
        <div class="col s3">
            <%= image_tag location.images.titre_url, width: '100%', height: '120px' if location.images.present? %>
            <p><%= 'Disponible' if location.etat === true %></p>
            <p><%= 'Occupé' if location.etat === false %></p>
            <p><b><%= location.adresse %></b></p>
            <!-- <h4><%= location.titre %></h4> -->
            <h4><%= link_to location.titre, location %></h4>
            <p><%= location.description %></p>
            <p>Prix: <%= location.prix %> Fcfa</p>
          </div>
        <% end %>
        <b><%= 'Pas de location à cette adresse' if @locations.empty? %></b>
      </div>
    </div>
    
    