<div class="container">
  <div class="row">
    <div class="col s12 m8 push-m2">
      <h4>Confirmer votre réservation</h4>
      <table>
        <thead>
          <tr>
              <th>Appartement</th>
              <th>Description</th>
              <th>Prix</th>
              <th>Nombre de personne</th>
              <th>Date d'entrée</th>
              <th>Date de sortie</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @reservation.location.titre %></td>
            <td><%= @reservation.location.description %></td>
            <td><%= @reservation.location.prix %></td>
            <td><%= @reservation.nbre_personne %></td>
            <td><%= @reservation.date_debut_reservation %></td>
            <td><%= @reservation.date_fin_reservation %></td>
            <td>
              <%= form_for @contrat do |form| %>
                <%= form.hidden_field :reservation_id, :value => @reservation.id %>
                <%= form.submit 'Confirmer', :class => "waves-effect waves-light btn green" %>

              <% end %>
          
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
