<!DOCTYPE html>
<html>
  <head>
    <title>Appart</title>
  </head>
  <body>
        <h1>CONTRAT DE RESERVATION D'APPARTEMENT</h1>
        <h4><%= @reservation.location.titre %> </h4>
        <p>Description: <%= @reservation.location.description %></p>
        <p>Pirx: <%= @reservation.location.prix %></p>
        <p>Nombre de personne <%= @reservation.nbre_personne %></p>
        <p>Date de debut <%= @reservation.date_debut_reservation %></p>
        <p>Date de fin <%= @reservation.date_fin_reservation %></p>
  </body>
</html>
