  <h3>MES RESERVATIONS</h3>

    <% @reservations.compact.each do |reservation| %>
      <div class="carousel carousel-slider">
      <% reservation.location.images.each do | image | %>
        <a class="carousel-item" href="#"><%= image_tag(image.titre_url, width: '100%') if image.titre.present? %></a>
      <% end %>
      </div>
        <div class="row">
          <div class="col s8">
              <h5><%= reservation.location.titre %> </h5>
              <p><%= reservation.location.description %></p>
          </div>
          <div class="col s4">
              <p><b><%= reservation.location.prix %></b></p>
              <% if reservation.user %>
                <p><%= reservation.user.email %></p>
              <% end %>
          </div>
        </div>
        <%= link_to 'DETAIL', reservation_path(reservation), class: 'waves-effect waves-light btn green' %>
    <% end %>