<h3>MES RESERVATIONS</h3>

  <div class="row">
    <% @reservations.each do |reservation| %>
      <div class="col s12 m3">
        <%= image_tag reservation.location.photo_url, width: '100%', height: '120px' if reservation.location.photo.present? %>
        <div class="row">
          <div class="col s12 m3">
            <%= image_tag reservation.location.photo_url, width: '100%' if reservation.location.photo.present? %>
          </div>
          <div class="col s8">
              <h5><%= reservation.location.titre %> </h5>
              <p><%= reservation.location.description %></p>
          </div>
          <div class="col s4">
              <p><b><%= reservation.location.prix %></b></p>
              <% if reservation.user %>
                <p><%= reservation.user.email %></p>
              <% end %>
          </div>
        </div>
        <%= link_to 'CONFIRMATION', confirmation_contrats_path(reservation), class: 'waves-effect waves-light btn green' %>
      </div>
    <% end %>
  </div>