<div class="container">
  <div class="row">
    <div class="">
      <div class="card white">
        <div class="card-content">
            <%= form_with(model: location, local: true, :html => { :multipart => true }) do |form| %>
            <% if location.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>
          
                <ul>
                <% location.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
          
            <div class="input-field">
              <%= form.text_field :titre %>
              <label for="titre">Titre</label>
            </div>
          
            <div class="input-field">
              <%= form.text_area :description %>
              <label for="description">Description</label>
            </div>
          
            <div class="input-field">
              <%= form.text_area :adresse, :class => 'materialize-textarea' %>
              <label for="adresse">Adresse</label>
            </div>
          
            <%= form.hidden_field :etat, :value => :true %>
          
            <div class="field">
            </div>
            <%= form.fields_for :images do |p| %>
             <div class="field">
              <%= p.file_field :titre, :multiple => true, name: "images[titre][]" %>
             </div>
           <% end %>
          
            <div class="input-field">
              <%= form.number_field :prix, :min => '0' %>
              <label for="prix">Prix</label>
            </div>

            <div class="form-group">
                <label>Durée</label>
                <%= form.select :duree, [['Prix par...', nil], 'jour', 'mois'] %>
            </div>
        
            <div class="actions">
              <%= form.submit 'Créer', :class => 'waves-effect waves-light btn green' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
