<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @location.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<p>
  <strong>Etat:</strong>
  <%= @location.etat %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @location.photo %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @location.adresse %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @location.prix %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

<div class="col-md-12">
  <%= form_for @reservation do |f| %>
  
  <%= f.number_field :nbre_personne, label: "Nombre de personne" %>
  <%= f.date_select :date_debut_reservation, label: "Date de debut" %>
  <%= f.date_select :date_fin_reservation, label: "Date de fin" %>
  <%= f.hidden_field :location_id, :value => @location.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.submit %>
  <% end %>
</div>