<!DOCTYPE html>
<html>
  <head>
    <title>Appart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
      <nav class="N/A transparent">
          <div class="nav-wrapper">
            <a href="/" class="brand-logo">APPART</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><%= link_to  "LOGEMENTS", locations_path %></li>
            </ul>

          
          </div>
        </nav>
      <% if user_signed_in? %>
              <li><%= link_to  "Deconnexion", destroy_user_session_path, method: :DELETE, data: { confirm:'Voulez-vous vous deconnecter ?' } %></li>
            <% else %>
              <li><%= link_to  "Connexion", new_user_session_path %></li>
              <li><%= link_to  "Connexion via facebook", user_facebook_omniauth_authorize_path %></li>
              <li><%= link_to  "Connexion via google", user_google_oauth2_omniauth_authorize_path %></li>
              <li><%= link_to  "Inscription", new_user_registration_path %></li>
            <% end %>
        <ul class="sidenav" id="mobile-demo">
          
        </ul>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

          <%= yield %>
        


        <!-- <footer>
          <div class="container">
            APPART <%= Time.now.year %>
          </div>
        </footer> -->
        
        <script type="text/javascript">
          // Header select box
          document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, []);
          });

          // Navbar mobile menu
          document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, []);
          });

          // Recommandations caroussel
          document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems, []);
          });

          // LOcation show slider
          var instance = M.Carousel.init({
            fullWidth: true
          });

          //Location show réserver buttons
          /*document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, []);
          });*/
          $(document).ready(function(){
            $('.modal').modal();
          });

          // Location form textarea
          $('#adresse').val('New Text');
          M.textareaAutoResize($('#adresse'));
        </script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
