<!DOCTYPE html>
<html>
  <head>
    <title>Appart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
    
  </head>

  <body>
    <nav class="green darken-1">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">APPART</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "APPARTEMENTS", locations_path %></li>
          <!-- Menu admin -->
          <% if isAdmin? %>
            <li><a href="<%= admin_root_path %>" class="">ADMIN</a></li>
            <li><a href="<%= notifications_path %>" class="">Notifications(<%= total_note %>)</a></li>
            <li><a href="<%= new_location_path %>" class="">Créer un logement</a></li>
          <% end %>
          <!-- Menu users -->
          <% if user_signed_in? %>
            <li><%= link_to "MES RESERVATIONS", me_reservations_path %></li>  
                <%= current_user.nom %>
            <li><%= link_to "DECONNEXION", destroy_user_session_path, method: :DELETE, data: { confirm:'Voulez-vous vous deconnecter ?' } %></li>
          <% else %>
          <li><%= link_to "CONNEXION", new_user_session_path %></li>
          <%#  <%= link_to "Connexion via facebook", user_facebook_omniauth_authorize_path %>
          <%#  <%= link_to "Connexion via google", user_google_oauth2_omniauth_authorize_path %>
          <%#  <%= link_to "Inscription", new_user_registration_path %>
          <% end %>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <%= link_to "LOGEMENTS", locations_path %>
      <!-- Menu admin -->
      <% if isAdmin? %>
        <a href="<%= admin_root_path %>" class="">ADMIN</a><br>
        <a href="<%= notifications_path %>" class="">Notifications(<%= total_note %>)</a>
        <a href="<%= new_location_path %>" class="">Créer un logement</a>
      <% end %>
      <!-- Menu users -->
      <% if user_signed_in? %>
        <%= link_to "MES RESERVATIONS", me_reservations_path %>  
        <%= current_user.nom %>
        <%= link_to "DECONNEXION", destroy_user_session_path, method: :DELETE, data: { confirm:'Voulez-vous vous deconnecter ?' } %>
      <% else %>
      <%= link_to "CONNEXION", new_user_session_path %>
      <%#  <%= link_to "Connexion via facebook", user_facebook_omniauth_authorize_path %>
      <%#  <%= link_to "Connexion via google", user_google_oauth2_omniauth_authorize_path %>
      <%#  <%= link_to "Inscription", new_user_registration_path %>
      <% end %>
    </ul>

    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <main>
      <%= yield %>
    </main>

    <footer class="page-footer green darken-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2019 APPART - CODE
        <p class="grey-text text-lighten-4 right" href="#!">Tous droits réservés</p>
        </div>
      </div>
    </footer>
    
    <script type="text/javascript">
      // Header select box
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, []);
      });

      // Navbar mobile menu
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, []);
      });

      // Testimonial caroussel
      $(document).ready(function(){
        $('.carousel.carousel-slider').carousel({
          fullWidth: true,
          indicators: true
        });
      });
      
      // Location show slider
      var instance = M.Carousel.init({
        fullWidth: true
      });

      //Location show réserver buttons
      /*document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, []);
      });*/
      $(document).ready(function(){
        $('.modal').modal();
      });

      // Location form textarea
      $('#adresse').val('New Text');
      M.textareaAutoResize($('#adresse'));
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
